* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 40px;
}

.hero-section {
    width: 100%;
    min-height: 100vh;
}

/*==== Hero section start ====*/

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    padding-top: 50px;
}

.item-content {
    width: 50%;
    padding: 20px 15px;
}

.image-content {
    width: 50%;
}

.item-content #hero-text-color {
    color: #ff6449;
}

.item-content p {
    margin: 15px 0;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    width: 70%;
}

/*==== Hero section end ====*/

.btn {
    margin-top: 30px;
    padding: 15px 20px;
    border-radius: 30px;
    background-image: linear-gradient(60deg, #ff5858 0%, #f09819 100%);
}

/*==== About section start ====*/

.about-section {
    width: 100%;
    height: 80vh;
    background: url('images/shapes/Frame\ 56.jpg') no-repeat center / cover;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image-content {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-image-content .about-img {
    width: 40%;
}

.item-content {
    width: 50%;
}

.item-content .about-desc-color {
    color: #ff6449;
    text-decoration: underline;
}

/*==== About section end ====*/

/*==== Recipie section start ====*/
.recipie-section {
    width: 100%;
    min-height: 130vh;
}

.recipie-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.recipie-header-title {
    color: #7C7C7C;
    padding-top: 40px;
}

.recipie-desc {
    color: #9E9E9E;
}

.recipie-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.box-body {
    width: 350px;
    height: 500px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.box-body .recipie {
    width: 100%;
    height: 230px;
    border-radius: 20px;
}

.box-body .menu-header {
    font-size: 24px;
    padding: 15px 0;
}
/*==== Recipie section end ====*/

/*==== Count section start*/
.count-section {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.count-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

#items-center {
    width: 80%;
    height: 30vh;
    margin: 0 auto;
}
/*==== Count section end*/

/*==== Event section start ====*/
.event-section {
    width: 100%;
    height: 120vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(92, 60, 60, 0.2));
}

.event-header {
    width: 60%;
    height: 25vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

#event-color-text {
    color: orange;
}

.event-content {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-desc-image {
    width: 50%;
}

.event-image {
    width: 90%;
    height: 400px;
    margin: 10px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
}

.event-desc-box {
    width: 50%;
    padding:  5%;
    margin: 10px;
}

.price {
    color: orangered;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.event-desc {
    color: #B1B1B1;
}

.event-desc-list {
    margin-top: 10px;
    margin-left: 30px;
    color: #858585;
}
/*==== Event section end ====*/